  body {
    font-family: sans-serif;
    background-color: rgb(107, 188, 241);
  }
  body.contacto{
    text-align: center;
  }
  body.nuevo{
    text-align: center;
  }

  p.titulo{
    text-align: center;
    font-size: 50px;
    background: #ad2525;
    color: #ffffff;
  }
  p.forma{
    font-size: 35px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 250;
    height: 45;

  }
  input{
    border:1px solid #e1e1e1;
    padding:10px;
    width:100%;
  }
  	
  textarea{
	width:100%;
	border:1px solid #e1e1e1;
	padding:10px;
	height:200px;
  }


  h1{
    color: #ffffff;
  }
  h3{
  color: #ffffff;

  }

  section{
    color: #ffffff;
  }

  footer{
    color: #ffffff;
  }

  a{
    color: #b629bb;    
  }

  .btn-group .button {
    position:relative;
    left:30%;

    background-color: #186aa0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group .button:hover {
    background-color: #1d7dbd;
  }

  .btn-index .button {
    position:relative;
    left:40%;

    background-color: #186aa0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-index .button:hover {
    background-color: #1d7dbd;
  }

  .btn-logout .button1 {
    background-color: #a01818;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-logout .button1:hover {
    background-color: #bd1d1d;
  }
  


  .btn-save .button2{
    background-color: #18a02f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .btn-save .button2:hover{
    background-color: #1dbd2a;
  }



  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }


  
  p>label>* {
    display: block;
  }
  
  mi-footer {
    display: block;
    margin: 1rem 0;
    font-size: small;
    color: #ffffff;
  }

